.inputsContainer {
    display: flex;
    align-items: flex-start;
    row-gap: 20px;
    flex-direction: column;
    padding-block: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 4px;
}

.errorContainer {
    height: 5px;
    width: max-content;
    overflow: hidden;
    transition: height 0.2s;
}

.errorContainer[data-error='true'] {
    height: 20px;
}

.error {
    color: var(--text-red);
    font-size: 12px;
    font-family: var(--font-secondary);
}

.passwordButton {
    background: none;
    color: var(--text-primary);
    font-size: 18px;
    cursor: pointer;
}

.loginButton {
    width: 100%;
}
