.createPostModal {
  display: flex;
  padding: 0 !important;
  background: none;
  min-height: 400px;

  .postImageContainer {
    width: max-content;
    height: auto;
    background-color: var(--background-modal);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;

    .postImage {
      max-height: 600px;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }

  .container {
    min-height: 200px;
    min-width: 225px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-modal);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: hidden;
    padding-block: 20px;
    padding-inline: 24px;

    .inputsContainer {
      display: flex;
      row-gap: 20px;
      flex-direction: column;

      .inputContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 4px;
      }
    }
  }
}
