.postModal {
    display: flex;
    padding: 0;
    background: none;
    min-height: 400px;
}

.postImageContainer {
    width: max-content;
    height: auto;
    background-color: var(--background-modal);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
}

.postImage {
    max-height: 600px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.postStatsContainer {
    position: absolute;
    bottom: 17px;
    left: 20px;
    display: flex;
    align-items: center;
}

.postLikesContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 15px;
    column-gap: 5px;
}

.postLikeButton {
    cursor: pointer;
}

.postLikeButton svg {
    transition: color .2s;
    font-size: 19px;
}

.postLikeButton[data-liked="true"] svg {
    color: var(--text-red)
}

.postInfoHeaderContainer {
    padding-block: 15px;
    padding-inline: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-secondary);
}

.postInfoHeaderUser {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.headerUserAvatar {
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.postEditButton {
    background: none;
    width: max-content;
    height: max-content;
    position: relative;
    cursor: pointer;
}

.postEditButton svg {
    font-size: 16px;
}

.postInfoContainer {
    width: 430px;
    height: auto;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--background-modal)
}

.postComments {
    padding-top: 20px;
    padding-inline: 24px;
}

.postTitle {
    font-weight: 600;
}

.postDesc {
    margin-top: 10px;
}