.titles {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

.logo {
    font-family: var(--font-secondary);
    font-size: 20px;
}

.inputsContainer {
    display: flex;
    align-items: flex-start;
    row-gap: 20px;
    flex-direction: column;
    padding-block: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginLink {
    font-family: var(--font-secondary);
    text-align: right;
    font-size: 13px;
    opacity: 0.8;
}

.loginLink a {
    color: var(--text-primary);
}

.error {
    margin-top: 4px;
    color: var(--text-red);
    font-size: 12px;
    font-family: var(--font-secondary);
}