.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  background: none;
  border-bottom: 1px solid var(--text-primary);
}

.inputContainer div {
  padding-bottom: 5px;
}

.Input {
  width: 100%;
  font-family: var(--font-secondary);
  background: none;
  padding-bottom: 10px;
  color: var(--text-primary);
}

.Input::placeholder {
  opacity: 0.45;
  font-size: 15px;
}

.Input[type='password'] {
  font-size: 10px;
}
