.userAvatarContainer {
  border: 1px solid var(--text-secondary);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
}
